<header>
  <div class="logo">
      Surplus
  </div>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="#">About</a>

    <div class="loginOpts">
      <div class="startHeadLogin">
        <span>Sign In</span>
        <span class="dropSpan">
            <img src="images/dropdown.svg" alt="dropdown" class="dropDownLogin">
        </span>
      </div>

      <div class="authOptsLogin">
        <a href="/signIn" class="authLink">
          <span>Personal</span>
          <img src="images/user.svg" alt="user">
        </a>

        <a href="/bizsignIn" class="authLink">
          <span>Business</span>
          <img src="images/business.svg" alt="business">
        </a>

        <a href="/adminSignIn" class="authLink">
          <span>Admin</span>
          <img src="images/shield.svg" alt="Admin">
        </a>
      </div>
    </div>
  </nav>
</header>