<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  {{{body}}}

  <script>
    const startHeadLogin = document.querySelector('.startHeadLogin');
    const dropDownLogin = document.querySelector('.dropDownLogin');
    const authOptsLogin = document.querySelector('.authOptsLogin');
    const navbar = document.querySelector('.navbar');
    const header = document.querySelector('header');

    function openLoginOpts() {
      authOptsLogin.classList.toggle('reveal');
      dropDownLogin.classList.toggle('rotate');
      navbar.classList.toggle('active');
      header.classList.toggle('activeHeader');
    }

    startHeadLogin.onclick = () => openLoginOpts();
  </script>
</body>
</html>