@mixin flexbox($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}

.formContainer {
  @include flexbox(row, center, center);
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding-top: 3rem;

  .authForm {
    @include flexbox(column, center, center); 
    width: 100%;
    padding: 2.5rem 2rem;
    background-color: rgb(227, 233, 233);
    border-radius: 10px;

    @media(max-width: 600px){
      width: 95%;
      padding: 1.5rem 1rem;
    }

    .formTitle {
      font-size: 1.45rem;
      font-weight: 600;
      margin-bottom: 2rem;
      opacity: .8;
    }

    .formField {
      @include flexbox(column, center, flex-start);
      width: 90%;
      margin-bottom: 1.85rem;

      @media(max-width: 600px){
        width: 100%;
      }
    }

    label {
      font-size: 14px;
      font-weight: 600;
      color: rgb(30, 30, 31);
    }

    input {
      width: 100%;
      padding: 14px 6px;
      font-size: 14px;
      border: 1px solid #9e9d9d;
      background-color: rgb(240, 247, 247);
      border-radius: 10px;
      margin-top: .5rem;
    }

    button {
      padding: .75rem 2.5rem;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      border: none;
      margin-top: 1.5rem;
      transition: .3s ease;

      &:hover {
        cursor: pointer;
      }
    }

    .userBtn{
      background-color: rgb(25, 211, 108);
      border: 2px solid gray;

      &:hover {
        background-color: rgb(48, 236, 133);
      }
    }

    .bizBtn{
      background-color: rgb(152, 107, 242);
      border: 2px solid gray;

      &:hover {
        background-color: rgb(172, 144, 240);
      }
    }

    .adminBtn{
      background-color: rgb(211, 183, 25);
      border: 2px solid gray;

      &:hover {
        background-color: rgb(230, 230, 37);
      }
    }
  }
}
