<section class="dashContainer adminDash">
  <section class="sidebar">
    <div class="sideLogo adminLogo">
      <span>Surplus</span>
      <img src="images/menu.svg" alt="menu" class="menuOpen">
      <img src="images/closeMenu.svg" alt="menu" class="menuClose hidden">
    </div>

    <div class="pageLinks adminPages">
      <a href="#">
        <img src="images/home.svg" alt="home">
        <span>Home</span>
      </a>

      <a href="#">
        <img src="images/donate.svg" alt="home">
        <span>Donate</span>
      </a>

      <a href="#">
        <img src="images/tips.svg" alt="tips">
        <span>Resources/Tips</span>
      </a>

      <a href="#">
        <img src="images/notifications.svg" alt="home">
        <span>Notifications</span>
      </a>

      <a href="#">
        <img src="images/support.svg" alt="home">
        <span>Support</span>
      </a>

      <a href="#">
        <img src="images/leaderboard.svg" alt="home">
        <span>Leaderboard</span>
      </a>

      <a href="#">
        <img src="images/profile.svg" alt="home">
        <span>Profile</span>
      </a>

      <a href="#">
        <img src="images/logout.svg" alt="logout">
        <span>Logout</span>
      </a>
    </div>
  </section>

  <section class="dashBody">
    <div class="dashHead">
      <div class="currentPage">
        Dashboard
      </div>

      <div class="profileBox adminProfileBox">
        <img src="images/adminProfile.svg" alt="adminProfile">
        <span>Admin</span>
      </div>
    </div>
  </section>
</section>

<script src="js/dashboard.js"></script>