<section class="dashContainer bizDash">
  <section class="sidebar">
    <div class="sideLogo bizLogo">
      Surplus
    </div>

    <div class="pageLinks bizPages">
      <a href="#">
        <img src="images/home.svg" alt="home">
        <span>Home</span>
      </a>

      <a href="#">
        <img src="images/donate.svg" alt="home">
        <span>Donate</span>
      </a>

      <a href="#">
        <img src="images/tips.svg" alt="tips">
        <span>Resources/Tips</span>
      </a>

      <a href="#">
        <img src="images/notifications.svg" alt="home">
        <span>Notifications</span>
      </a>

      <a href="#">
        <img src="images/support.svg" alt="home">
        <span>Support</span>
      </a>

      <a href="#">
        <img src="images/leaderboard.svg" alt="home">
        <span>Leaderboard</span>
      </a>

      <a href="#">
        <img src="images/profile.svg" alt="home">
        <span>Profile</span>
      </a>

      <a href="#">
        <img src="images/logout.svg" alt="logout">
        <span>Logout</span>
      </a>
    </div>
  </section>

  <section class="dashBody">
    <div class="dashHead">
      <div class="currentPage">
        Dashboard
      </div>

      <div class="profileBox bizProfileBox">
        <img src="images/businessProfile.svg" alt="bizProfile">
        <span>Pizza Palace</span>
      </div>
    </div>
  </section>
</section>