* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  position: fixed;
}
@media (max-width: 600px) {
  header {
    padding: 1.25rem 0.5rem;
  }
}
header .logo {
  color: rgb(28, 133, 72);
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 780px) {
  header .logo {
    font-size: 26px;
  }
}
@media (max-width: 600px) {
  header .logo {
    font-size: 24px;
  }
}
header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
header .navbar > a {
  color: rgb(9, 15, 24);
  text-decoration: none;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 600px) {
  header .navbar > a {
    margin: 0 -6px;
  }
}
@media (max-width: 330px) {
  header .navbar > a {
    margin: 0 -14px;
  }
}
header .navbar .loginOpts {
  border: 2px solid gray;
  margin-left: 1.5rem;
  background: transparent;
  border-radius: 10px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
@media (max-width: 780px) {
  header .navbar .loginOpts {
    margin-left: 0.5rem;
    width: 100px;
  }
}
@media (max-width: 600px) {
  header .navbar .loginOpts {
    margin-left: 0.15rem;
    width: 90px;
  }
}
header .navbar .loginOpts .startHeadLogin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
  transition: 0.3s ease;
  padding: 0.35rem 0.75rem;
}
header .navbar .loginOpts .startHeadLogin > span:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  color: black;
}
header .navbar .loginOpts .startHeadLogin > span:nth-child(2) .dropDownLogin {
  width: 20px;
  transition: 0.3s ease;
  margin-top: 3px;
}
header .navbar .loginOpts .startHeadLogin > span:nth-child(2) .dropDownLogin.rotate {
  transform: rotateX(180deg);
}
header .navbar .loginOpts .startHeadLogin:hover {
  cursor: pointer;
  background-color: rgb(235, 230, 230);
}
@media (max-width: 780px) {
  header .navbar .loginOpts .startHeadLogin {
    padding: 0.25rem 0.7rem;
  }
  header .navbar .loginOpts .startHeadLogin > span:nth-child(1) {
    font-size: 14px;
  }
  header .navbar .loginOpts .startHeadLogin > span:nth-child(2) .dropDown {
    width: 18px;
  }
}
@media (max-width: 600px) {
  header .navbar .loginOpts .startHeadLogin {
    padding: 0.2rem 0.55rem;
  }
  header .navbar .loginOpts .startHeadLogin > span:nth-child(1) {
    font-size: 12px;
  }
  header .navbar .loginOpts .startHeadLogin > span:nth-child(2) .dropDown {
    width: 16px;
  }
}
header .navbar .loginOpts .authOptsLogin {
  display: none;
}
header .navbar .loginOpts .authOptsLogin.reveal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
}
header .navbar .loginOpts .authOptsLogin.reveal .authLink {
  border-top: 1.8px solid rgb(209, 204, 204);
  width: 100%;
  padding: 0.35rem 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  transition: 0.3s ease;
}
@media (max-width: 600px) {
  header .navbar .loginOpts .authOptsLogin.reveal .authLink {
    padding: 0.35rem 0.45rem;
  }
}
header .navbar .loginOpts .authOptsLogin.reveal .authLink span {
  font-size: 12px;
  font-weight: 600;
  color: rgb(85, 83, 83);
}
@media (max-width: 780px) {
  header .navbar .loginOpts .authOptsLogin.reveal .authLink span {
    font-size: 10px;
  }
}
header .navbar .loginOpts .authOptsLogin.reveal .authLink img {
  width: 22px;
}
@media (max-width: 780px) {
  header .navbar .loginOpts .authOptsLogin.reveal .authLink img {
    width: 18px;
  }
}
header .navbar .loginOpts .authOptsLogin.reveal .authLink:hover {
  background-color: rgb(224, 219, 219);
}
header .navbar.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  gap: 0;
}

header.activeHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
header.activeHeader .logo {
  margin-top: 5px;
}

.indexMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  padding: 6rem 1rem 1rem 1rem;
}
.indexMain .welcomeTitle {
  margin-top: 3rem;
  font-size: 48px;
  font-weight: 900;
  max-width: 600px;
}
@media (max-width: 600px) {
  .indexMain .welcomeTitle {
    font-size: 30px;
  }
}
@media (max-width: 380px) {
  .indexMain .welcomeTitle {
    font-size: 26px;
  }
}
@media (max-width: 330px) {
  .indexMain .welcomeTitle {
    font-size: 22px;
  }
}
.indexMain .welcomeText {
  font-size: 1.15rem;
  margin-top: 2rem;
  text-align: center;
}
@media (max-width: 600px) {
  .indexMain .welcomeText {
    font-size: 14px;
    margin-top: 1.5rem;
  }
}
@media (max-width: 380px) {
  .indexMain .welcomeText {
    font-size: 12px;
  }
}
.indexMain .getStarted {
  margin-top: 2.5rem;
  border: 2px solid gray;
  background: transparent;
  border-radius: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
@media (max-width: 780px) {
  .indexMain .getStarted {
    width: 180px;
  }
}
.indexMain .getStarted .startHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
  transition: 0.3s ease;
  padding: 0.65rem 1rem;
}
.indexMain .getStarted .startHead > span:nth-child(1) {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(38, 38, 38);
}
.indexMain .getStarted .startHead > span:nth-child(2) .dropDown {
  width: 24px;
  transition: 0.3s ease;
  margin-bottom: -4px;
}
.indexMain .getStarted .startHead > span:nth-child(2) .dropDown.flip {
  transform: rotateX(180deg);
}
.indexMain .getStarted .startHead:hover {
  cursor: pointer;
  background-color: rgb(235, 230, 230);
}
@media (max-width: 780px) {
  .indexMain .getStarted .startHead {
    padding: 0.45rem 0.8rem;
  }
  .indexMain .getStarted .startHead > span:nth-child(1) {
    font-size: 1rem;
  }
  .indexMain .getStarted .startHead > span:nth-child(2) .dropDown {
    width: 22px;
  }
}
.indexMain .getStarted .authOpts {
  display: none;
}
.indexMain .getStarted .authOpts.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
}
.indexMain .getStarted .authOpts.show .authLink {
  border-top: 1.8px solid rgb(209, 204, 204);
  width: 100%;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  transition: 0.3s ease;
}
.indexMain .getStarted .authOpts.show .authLink span {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(85, 83, 83);
}
.indexMain .getStarted .authOpts.show .authLink img {
  width: 24px;
}
.indexMain .getStarted .authOpts.show .authLink:hover {
  background-color: rgb(224, 219, 219);
}

.dashContainer {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 0;
  width: 100%;
  min-height: 100vh;
}
@media (max-width: 1040px) {
  .dashContainer {
    grid-template-columns: 250px 1fr;
  }
}
@media (max-width: 780px) {
  .dashContainer {
    grid-template-columns: 1fr;
  }
}
.dashContainer .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  background-color: rgb(37, 37, 37);
  padding: 1.25rem 0;
  transition: transform 0.3s ease-in-out;
  position: relative;
}
@media (max-width: 780px) {
  .dashContainer .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    z-index: 10;
  }
}
.dashContainer .sidebar .sideLogo {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.dashContainer .sidebar .sideLogo span {
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 780px) {
  .dashContainer .sidebar .sideLogo span {
    display: none;
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .dashContainer .sidebar .sideLogo span {
    font-size: 26px;
  }
}
.dashContainer .sidebar .sideLogo img {
  display: none;
}
@media (max-width: 780px) {
  .dashContainer .sidebar .sideLogo img {
    display: block;
    width: 28px;
  }
}
.dashContainer .sidebar .sideLogo .hidden {
  display: none;
}
.dashContainer .sidebar .userLogo {
  color: rgb(160, 243, 211);
}
.dashContainer .sidebar .bizLogo {
  color: rgb(178, 163, 247);
}
.dashContainer .sidebar .adminLogo {
  color: rgb(247, 239, 163);
}
.dashContainer .sidebar .pageLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  margin-top: 2.5rem;
  width: 100%;
  height: 100%;
}
.dashContainer .sidebar .pageLinks button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
  margin-bottom: 0;
  padding: 1.05rem 1rem;
  transition: 0.2s ease;
  background: transparent;
  border: none;
}
.dashContainer .sidebar .pageLinks button img {
  width: 28px;
  opacity: 0.75;
}
.dashContainer .sidebar .pageLinks button span {
  color: rgb(236, 234, 234);
  font-size: 1.15rem;
  font-weight: 500;
  margin-left: 1rem;
}
@media (max-width: 780px) {
  .dashContainer .sidebar .pageLinks button span {
    display: none;
  }
}
.dashContainer .sidebar .pageLinks button:hover {
  background-color: rgb(63, 62, 62);
  cursor: pointer;
}
.dashContainer .sidebar .pageLinks button:hover img {
  opacity: 1;
}
.dashContainer .sidebar .pageLinks button:last-child {
  margin-top: auto;
}
.dashContainer .sidebar .userPages button:hover span {
  color: rgb(80, 245, 182);
}
.dashContainer .sidebar .bizPages button:hover span {
  color: rgb(160, 126, 253);
}
.dashContainer .sidebar .adminPages button:hover span {
  color: rgb(250, 248, 111);
}
@media (max-width: 780px) {
  .dashContainer .dashBody {
    margin-left: 60px;
  }
}
.dashContainer .dashBody .dashHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  padding: 1.25rem 0 0.8rem 0;
  border-bottom: 2px solid rgb(233, 231, 231);
}
.dashContainer .dashBody .dashHead .currentPage {
  padding: 0 1.65rem;
  font-size: 1.35rem;
  font-weight: 700;
  color: rgb(53, 50, 50);
}
.dashContainer .dashBody .dashHead .profileBox {
  padding: 0 1.65rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.dashContainer .dashBody .dashHead .profileBox img {
  width: 40px;
}
.dashContainer .dashBody .dashHead .profileBox span {
  font-weight: 600;
  font-size: 1.15rem;
  margin-left: 0.55rem;
}
.dashContainer .dashBody .dashHead .userProfileBox span {
  color: rgb(18, 51, 18);
}
.dashContainer .dashBody .dashHead .bizProfileBox span {
  color: rgb(38, 13, 77);
  margin-top: 4px;
}
.dashContainer .dashBody .dashHead .adminProfileBox span {
  color: rgb(82, 74, 5);
  margin-top: 4px;
}
.dashContainer .dashBody .dashMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1.5rem;
}
.dashContainer .dashBody .dashMain .foodListings table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.dashContainer .dashBody .dashMain .foodListings table thead {
  background-color: #52af55;
  color: white;
}
.dashContainer .dashBody .dashMain .foodListings table thead th {
  padding: 12px 10px;
  text-align: left;
  border: 1.6px solid rgb(153, 152, 152);
}
.dashContainer .dashBody .dashMain .foodListings table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.dashContainer .dashBody .dashMain .foodListings table tbody tr:hover {
  background-color: #eeebeb;
}
.dashContainer .dashBody .dashMain .foodListings table tbody tr td {
  padding: 14px 12px;
  border: 1px solid #ddd;
  position: relative;
}
.dashContainer .dashBody .dashMain .foodListings table tbody tr .actionBtns a {
  border-radius: 4px;
  padding: 0.55rem;
  width: 100px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  transition: 0.3s ease;
}
.dashContainer .dashBody .dashMain .foodListings table tbody tr .actionBtns .claim {
  background-color: #158baf;
}
.dashContainer .dashBody .dashMain .foodListings table tbody tr .actionBtns .claim:hover {
  background-color: #1fb2df;
}
.dashContainer .dashBody .dashMain .foodListings table tbody tr .actionBtns .unclaim {
  background-color: #dd0950;
}
.dashContainer .dashBody .dashMain .foodListings table tbody tr .actionBtns .unclaim:hover {
  background-color: #f03674;
}
@media (max-width: 768px) {
  .dashContainer .dashBody .dashMain .foodListings table {
    display: block;
    overflow-x: auto;
  }
  .dashContainer .dashBody .dashMain .foodListings table thead {
    display: none;
  }
  .dashContainer .dashBody .dashMain .foodListings table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border: 2px solid rgb(180, 180, 180);
  }
  .dashContainer .dashBody .dashMain .foodListings table tr td {
    display: grid;
    grid-template-columns: 16ch 1fr;
    gap: 0.25rem;
  }
  .dashContainer .dashBody .dashMain .foodListings table tr td::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
  }
}
.dashContainer .dashBody .dashMain .hidden {
  display: none;
}

.dashContainer.active .sidebar {
  width: 240px;
}
.dashContainer.active .sidebar .sideLogo span {
  display: block;
}
.dashContainer.active .pageLinks button span {
  display: block;
}

.banner {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.banner h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.banner p {
  font-size: 18px;
}

.tips h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #4CAF50;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

.tips_section {
  display: flex;
  justify-content: center;
}

.tip {
  background-color: white;
  padding: 20px;
  margin: 10px;
  width: 30%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.tip h3 {
  color: #333;
  margin-bottom: 10px;
}

.tip p {
  color: #777;
}

.videos {
  text-align: center;
}

.video {
  margin: 20px 0;
}

.video h3 {
  margin-bottom: 10px;
}

.video iframe {
  width: 100%;
  height: 400px;
  max-width: 600px;
}

.stories {
  text-align: center;
  margin-top: 50px;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding-top: 3rem;
}
.formContainer .authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
  padding: 2.5rem 2rem;
  background-color: rgb(227, 233, 233);
  border-radius: 10px;
}
@media (max-width: 600px) {
  .formContainer .authForm {
    width: 95%;
    padding: 1.5rem 1rem;
  }
}
.formContainer .authForm .formTitle {
  font-size: 1.45rem;
  font-weight: 600;
  margin-bottom: 2rem;
  opacity: 0.8;
}
.formContainer .authForm .formField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
  width: 90%;
  margin-bottom: 1.85rem;
}
@media (max-width: 600px) {
  .formContainer .authForm .formField {
    width: 100%;
  }
}
.formContainer .authForm label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(30, 30, 31);
}
.formContainer .authForm input {
  width: 100%;
  padding: 14px 6px;
  font-size: 14px;
  border: 1px solid #9e9d9d;
  background-color: rgb(240, 247, 247);
  border-radius: 10px;
  margin-top: 0.5rem;
}
.formContainer .authForm button {
  padding: 0.75rem 2.5rem;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin-top: 1.5rem;
  transition: 0.3s ease;
}
.formContainer .authForm button:hover {
  cursor: pointer;
}
.formContainer .authForm .userBtn {
  background-color: rgb(25, 211, 108);
  border: 2px solid gray;
}
.formContainer .authForm .userBtn:hover {
  background-color: rgb(48, 236, 133);
}
.formContainer .authForm .bizBtn {
  background-color: rgb(152, 107, 242);
  border: 2px solid gray;
}
.formContainer .authForm .bizBtn:hover {
  background-color: rgb(172, 144, 240);
}
.formContainer .authForm .adminBtn {
  background-color: rgb(211, 183, 25);
  border: 2px solid gray;
}
.formContainer .authForm .adminBtn:hover {
  background-color: rgb(230, 230, 37);
}
/*# sourceMappingURL=main.css.map */
